@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.wallpaper {
  background-image: url("../public/assets/spaceImg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.inputField {
  @apply bg-transparent text-neutral-400 text-2xl lg:text-[16px] border-b-[1px] border-neutral-500 w-full outline-none placeholder:text-neutral-400 placeholder:text-[16px];
}

.textarea {
  @apply bg-transparent text-neutral-400 text-2xl lg:text-[16px] p-2 md:p-3 lg:p-5 border-[1px] rounded-lg min-h-[30vh] lg:rounded-xl lg:min-h-[15vh] border-neutral-500 w-full outline-none placeholder:text-neutral-400 placeholder:text-[16px];
}

.labelStyles {
  @apply text-lg lg:text-[14px] text-neutral-300 group-hover:text-white transition duration-300 ease-in-out cursor-pointer;
}

.rangeInput {
  @apply bg-neutral-400 rounded-md w-full py-1 lg:py-2 px-2 lg:px-3 text-neutral-200 text-[12px];
}

.numberInput {
  @apply bg-transparent border-[1px] rounded-[3px] text-white w-full px-1 md:px-2 lg:px-3;
}
